:root {
  --input-border: #8b8a8b;
  --input-focus: #3FDA94;
  --app-color: #6c7ae0;
  --content-color: #f8f6ff;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}